*.dev
*.exe
*.layout
*.win
*.o
*.cbp
*.depend
bin/
obj/
DynamicStack/*.dev
DynamicStack/*.exe
DynamicStack/*.layout
DynamicStack/*.win
DynamicStack/*.o
DynamicStack/*.cbp
DynamicStack/*.depend
DynamicStack/bin/
DynamicStack/obj/

